# Virtual Environment
venv/
.venv/
env/
bin/
include/
lib/
share/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Logs
*.log

# Local config
.env
secret.json

# IDEs
.vscode/
.idea/
